In [ ]:
import pandas as pd
pd.options.display.max_rows = 10
pd.options.display.max_columns = 10

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

#Actividad de Integración Pruebate Módulo 2 Tema 5

1.	Leer los datos del archivo country_vaccinations.csv

In [ ]:
vacunacion = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/TLG/country_vaccinations.csv')
vacunacion

2.	Desplegar su estructura y verificar que el campo date sea de tipo datetime64 [ns], en caso de que no, convertirlo a datetime64[ns]

In [ ]:
vacunacion['date'] = pd.to_datetime(vacunacion['date'])
vacunacion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3081 entries, 0 to 3080
Data columns (total 15 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   country                              3081 non-null   object
 1   iso_code                             2833 non-null   object
 2   date                                 3081 non-null   datetime64[ns]
 3   total_vaccinations                   1980 non-null   float64
 4   people_vaccinated                    1643 non-null   float64
 5   people_fully_vaccinated              1016 non-null   float64
 6   daily_vaccinations_raw               1642 non-null   float64
 7   daily_vaccinations                   2960 non-null   float64
 8   total_vaccinations_per_hundred       1980 non-null   float64
 9   people_vaccinated_per_hundred        1643 non-null   float64
 10  people_fully_vaccinated_per_hundred  1016 non-null   float64
 11  daily_vaccinations_per_million       2960 non-null   float64
 12  vaccines                             3081 non-null   object
 13  source_name                          3081 non-null   object
 14  source_website                       3081 non-null   object
dtypes: datetime64[ns](1), float64(9), object(5)
memory usage: 361.2+ KB

3.	Obtener la cantidad de vacunados usando la columna daily_vaccinations

In [ ]:
vacunacion['daily_vaccinations'].sum()

165073608.0

4.	Obtener el promedio de vacunados por país usando las columnas iso_code y daily_vaccionations

In [ ]:
vacunacion[['iso_code', 'daily_vaccinations']].groupby('iso_code').mean()

          daily_vaccinations
iso_code
AIA               149.000000
ALB                44.625000
AND                51.750000
ARE            101290.384615
ARG             12705.630435
...                      ...
SWE              8494.382979
SYC              1363.575758
TCA               222.000000
TUR            119377.935484
USA            820716.618182

[86 rows x 1 columns]

5.	Crear una columna derivada con las diferencias de las columnas daily_vaccinations - daily_vaccinations_raw

In [ ]:
vacunacion['difference'] = vacunacion['daily_vaccinations'] - vacunacion['daily_vaccinations_raw']
vacunacion['difference']

0          NaN
1          NaN
2          NaN
3          3.0
4        -12.0
         ...
3076    1881.0
3077    1066.0
3078    -771.0
3079   -4165.0
3080   -5972.0
Name: difference, Length: 3081, dtype: float64

6.	Generar una columna derivada con la cantidad de vacunas utilizadas cada día (contar la cantidad de elementos de la lista generada al aplicar split a los datos de la columna vaccines)

In [ ]:
vacunacion['canVaccines'] = vacunacion['vaccines'].str.split(', ').str.len()
vacunacion['canVaccines']

0       1
1       1
2       1
3       1
4       1
       ..
3076    2
3077    2
3078    2
3079    2
3080    2
Name: canVaccines, Length: 3081, dtype: int64

7.	Cambiar en la columna source_name todas las apariciones de Ministry of Health por MH y National Emergency Crisis and Disaster Management Authority por NECDMA.

In [ ]:
vacunacion['source_name'] = vacunacion['source_name'].replace({"Ministry of Health": "MH", "National Emergency Crisis and Disaster Management Authority": "NECDMA"})
vacunacion['source_name']

0                                     MH
1                                     MH
2                                     MH
3                                     MH
4                                     MH
                      ...
3076    Government of the United Kingdom
3077    Government of the United Kingdom
3078    Government of the United Kingdom
3079    Government of the United Kingdom
3080    Government of the United Kingdom
Name: source_name, Length: 3081, dtype: object

8.	Obtener cual es la fecha del primer reporte y cual es la fecha del último reporte registrado en el dataframe

In [ ]:
print('Fecha del primer reporte: ', vacunacion['date'].min())
print('Fecha del último reporte: ', vacunacion['date'].max())

Fecha del primer reporte:  2020-12-13 00:00:00
Fecha del último reporte:  2021-02-13 00:00:00

9.	Mostrar cuál es la cantidad de días considerados en el reporte (la diferencia del día máximo – el día mínimo)

In [ ]:
vacunacion['date'].max() - vacunacion['date'].min()

Timedelta('62 days 00:00:00')

10.	Obtener la sumatoria total de vacunas diarias aplicadas en el mundo en cada mes reportado en el dataframe usando las columnas date y daily_vaccinations

In [ ]:
vacunacion['daily_vaccinations'].groupby(vacunacion['date'].dt.month).sum()

date
1     88779797.0
2     67162079.0
12     9131732.0
Name: daily_vaccinations, dtype: float64